<% content_for(:head) do %>
    <%= javascript_include_tag "deliverable" %>
<% end %>

<%= form_for [@assignable, Deliverable.new] do |f| %>
  <% if @deliverable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliverable.errors.count, "error") %> prohibited this deliverable from being saved:</h2>

      <ul>
      <% @deliverable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
	<%= f.label :deliverable_type 
	%>
	<%= f.select :assignable_id, @stock_deliverable_types.map {|s| [s.deliverable_type.name, s.id]}
	%>
    <div id="deliverable_type_id">
    </div>

  </div>
  <div class="field">
  	<%= f.label :complexity %>
	<%= f.select :complexity_id, ["test", "test2"] %>
  </div>
  <div class="field">
    <%= f.label :estimated_size %>
    <%= f.text_field :estimated_size %>
  </div>
  <div class="field">
    <%= f.label :estimated_production_rate %>
    <%= f.text_field :estimated_production_rate %>
  </div>
  <div class="field">
    <%= f.label :estimated_effort %>
    <%= f.text_field :estimated_effort %>
  </div>

  <%= f.hidden_field :project_phase_id, :value => @project_phase_id %>
  <div class="actions">
    <%= f.submit "Create Deliverable", :class => "stylized" %>
  </div>
<% end %>
