<h1>Editing deliverable</h1>
<% content_for(:head) do %>
    <%= javascript_include_tag "deliverable_estimations", "jquery.validate.min", "deliverable_validation" %>
<% end %>

<%= form_for(@deliverable,:html => {:id  =>  "deliverable_form"}) do |f| %>
    <% if @deliverable.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deliverable.errors.count, "error") %> prohibited this deliverable from being saved:</h2>

          <ul>
            <% @deliverable.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name, :class=>"xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :description %>
      <div class="input">
        <%= f.text_area :description, :size => "40x10", :class=>"xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= label_tag "Deliverable Type" %>
      <div class="input">
        <%= @deliverable.deliverable_type %>
      </div>

    </div>
    <div class="clearfix">
      <%= f.label :estimated_size %>
      <div id="estimated_size_input_id" class="input">
        <%= f.text_field :estimated_size, :class=>"xlarge" %>
        <%= @deliverable.unit_of_measure %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :estimated_production_rate %>
      <div id="estimated_production_rate_input_id" class="input">
        <%= f.text_field :estimated_production_rate, :class=>"xlarge" %>
        hours/<%= @deliverable.unit_of_measure.singularize %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :estimated_effort %>
      <div id="estimated_effort_input_id" class="input">
        <%= f.text_field :estimated_effort, :class=>"xlarge" %> hours
      </div>
    </div>
    <br/>
    <div class="input">
      <%= f.submit "Update Deliverable", :class => "btn primary" %>
      &nbsp;
      <%= link_to 'Cancel', @deliverable, :class => "btn danger" %>
    </div>
<% end %>
