<h1>New deliverable</h1>

<% content_for(:head) do %>
    <%= javascript_include_tag "new_deliverable", "deliverable_estimations", "jquery.validate.min", "deliverable_validation" %>
<% end %>

<%= form_for @deliverable, :html => {:id  =>  "deliverable_form"} do |f| %>
  <% if @deliverable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliverable.errors.count, "error") %> prohibited this deliverable from being saved:</h2>

      <ul>
      <% @deliverable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
	<div class="input">
		<%= f.text_field :name, :class=>"xlarge" %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
	<div class="input">
    	<%= f.text_area :description, :size => "40x10", :class=>"xlarge" %>
	</div>
  </div>
  <div class="clearfix">
		<%= f.label :deliverable_type %>
		<div class="input">
			<%= f.select :assignable_id, @stock_deliverable_types %>
		</div>
	  <div id="deliverable_type_id">
	  </div>
  </div>

  <div class="clearfix">
  	<p id="deliverable_unit_of_measure">
			<%= f.label :unit_of_measure %>
			<span id="unit_of_measure_name"></span>
		</p>
  </div>

  <div class="clearfix">
  	<%= f.label :complexity %>
		<div class="input">
			<%= f.select :complexity_id, @complexities.map {|c| [c.level, c.id]} %>
		</div>
		<div id="view_historical_data_container">
		  <a href="javascript:void(0);" id="view_historical_data">View historical data</a>
		</div>
  </div>
  
  <div id="historical_data_table" class="clearfix" style="display:none">
    <table class="condensed-table show_all">
      <thead>
        <tr>
          <th></th>
          <th>Size</th>
          <th>Rate</th>
          <th>Effort</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Minimum</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Average</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Maximum</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="clearfix">
    <%= f.label :estimated_size %>
	<div id="estimated_size_input_id" class="input">
    	<%= f.text_field :estimated_size, :class=>"xlarge" %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :estimated_production_rate %>
	<div id="estimated_production_rate_input_id" class="input">
    	<%= f.text_field :estimated_production_rate, :class=>"xlarge" %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :estimated_effort %>
	<div id="estimated_effort_input_id" class="input">
        <%= f.text_field :estimated_effort, :class=>"xlarge" %>
	</div>
  </div>

  <%= f.hidden_field :project_phase_id, :value => @project_phase_id %>
  <div class="input">
    <%= f.submit "Create Deliverable", :class => "btn primary" %>
    &nbsp;
    <%= link_to 'Cancel', request.referer, :class => "btn danger" %>
  </div>
<% end %>

<div id="dialog" title="Create Deliverable Type">
      <div class="field dialog_field">
      <p>
     <%= label_tag 'Name' %>
     <%= text_field_tag 'name' %>
         </p>
        </div>
      <div class="field dialog_field">
      <%= label_tag 'Unit of Measure' %>
	  <%  unless @units_of_measure.nil?
		   units_of_measure_array = @units_of_measure.collect {|u| [u.unit, u.id] }
		 else
		   units_of_measure_array = []
		 end %>
      <%= select_tag 'unit_of_measure_id', options_for_select(units_of_measure_array) %>
      </div>
</div>
