<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deliverable.name %>
</p>

<p>
<%= @deliverable.deliverable_type %>
</p>

<p>
  <b>Description:</b>
  <%= @deliverable.description %>
</p>

<p>
  <b>Estimated size:</b>
  <%= @deliverable.estimated_size %>
</p>

<p>
  <b>Estimated production rate:</b>
  <%= @deliverable.estimated_production_rate %>
</p>

<p>
  <b>Estimated effort:</b>
  <%= @deliverable.estimated_effort %>
</p>

<br />

<% #= link_to 'Edit', edit_deliverable_path(@deliverable), :class => 'stylized' 
%>
<%= link_to 'Cancel', request.referrer, :class => 'stylized' %>
