<p id="notice"><%= notice %></p>

<h1>
  <%= @deliverable.name %>
</h1>

<p>
  <%= @deliverable.description %>
</p>

<br />

<p>
  <b>Deliverable Type:</b>
	<%= @deliverable.deliverable_type %>
</p>

<p>
  <b>Unit of Measure:</b>
  <%= @deliverable.unit_of_measure %>
</p>

<p>
  <b>Complexity Level:</b>
  <%= @deliverable.complexity_level %>
</p>

<p>
  <b>Estimated size:</b>
  <%= @deliverable.estimated_size %>
</p>

<p>
  <b>Estimated production rate:</b>
  <%= @deliverable.estimated_production_rate %>
</p>

<p>
  <b>Estimated effort:</b>
  <%= @deliverable.estimated_effort %>
</p>

<br />

<%= link_to 'Cancel', request.referrer, :class => 'stylized' %>
<%= link_to 'Modify', edit_deliverable_path(@deliverable), :class => 'stylized' %>