<h1>
  <%= @deliverable.name %>
</h1>

<p class="description">
  <%= @deliverable.description %>
</p>

<p>
  <b>Deliverable Type:</b>
  <%= @deliverable.deliverable_type %>
</p>

<p>
  <b>Estimated size:</b>
  <%= @deliverable.estimated_size %>
  <%= @deliverable.unit_of_measure %>
</p>

<p>
  <b>Estimated production rate:</b>
  <%= @deliverable.estimated_production_rate %>
  hours/<%= @deliverable.unit_of_measure.singularize %>
</p>

<p>
  <b>Estimated effort:</b>
  <%= @deliverable.estimated_effort %> hours
</p>

<p>
  <b>Logged effort:</b>
  <%= sprintf('%.2f', @deliverable.logged_effort) %> hours
</p>
<br />

<%= link_to 'Modify', edit_deliverable_path(@deliverable), :class => 'btn primary' %>
<%= link_to 'Delete', @deliverable, :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger' %>
<%= link_to 'Return to Project', project_path(get_project)+"?project_phase_id="+get_project_phase_id_string, :class => 'btn' %>

<br />
<br />

<h3>Effort logs</h3>
<table>
  <tr>
    <th>User email</th>
    <th>Logged effort (hours)</th>
    <th></th>
  </tr>

  <% unless @effort_logs.nil? %>
      <% @effort_logs.each do |effort_log| %>
          <tr>
            <td><%= get_effort_log_user(effort_log) %></td>
            <td><%= sprintf('%.2f', effort_log.logged_effort) %></td>
            <td><%= link_to 'More details', effort_log %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= link_to 'Log Effort', new_effort_log_path(:deliverable_id => @deliverable), :class => 'btn primary' %>
