<% content_for(:head) do %>
    <%= javascript_include_tag "custom.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<h1>Project Phases</h1>
<table border="0" id="project_phases">
  <thead>
  <tr>
    <th>Sequence #</th>
    <th>Name</th>
    <th>Description</th>
    <th>Estimated Effort</th>
    <th class="hidden">Project Phase Id</th>
  </tr>
  </thead>
  <tbody>

  <% @project.project_phases.each do |phase| %>
      <tr>
        <td><%= phase.lifecycle_phase.sequence_number %></td>
        <td><%= phase.lifecycle_phase.name %></td>
        <td><%= phase.lifecycle_phase.description %></td>
        <td><%= phase.estimated_effort %></td>
        <td class="project_phase_id_cell hidden"><%= phase.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<div id="project_phase_details_container">
  <h1 id="project_phase_name"></h1>
  <table border="0" id="project_phase_details">
    <tbody>
    <tr id=" ">
      <td>Description</td>
      <td id="project_phase_description">Replace Me</td>
    </tr>
    <tr>
      <td>Sequence Number</td>
      <td id="project_phase_sequence_number">Replace Me</td>
    </tr>
    <tr>
      <td>Estimated Effort</td>
      <td id="project_phase_estimated_effort">Replace Me</td>
    </tr>
    <tr>
      <td>Deliverables</td>
      <td id="project_phase_deliverables">Replace Me</td>
    </tr>
    </tbody>
  </table>

  <br/>

  <div >
    <%= link_to 'New Deliverable', "#", :class => "stylized", :id => "new_deliverable_button" %>
  </div>
</div>


<br/>
<br/>
<%= link_to 'Cancel', projects_path, :class => "stylized" %>
