<% content_for(:head) do %>
    <%= javascript_include_tag "project_phases" %>
<% end %>

<h1><%= @project.name %></h1>

<p class="description">
  <%= @project.description %>
</p>

<p>
  <b>Estimated Effort:</b>
  <%= sprintf('%.2f', @project.estimated_effort) %>
  <%= get_hours(@project.estimated_effort) %>
</p>
<p>
  <b>Logged Effort:</b>
  <%= sprintf('%.2f', @project.logged_effort) %>
  <%= get_hours(@project.logged_effort) %>
</p>
<p>
  <b>Lifecycle:</b>
  <%= @project.lifecycle.name %>
</p>

<h3>Project Phases</h3>
<table border="0" id="project_phases" class="condensed-table">
  <thead>
  <tr>
    <th>Sequence<br />Number</th>
    <th>Name</th>
    <th>Description</th>
    <th>Estimated Effort</th>
    <th class="hidden">Project Phase Id</th>
  </tr>
  </thead>
  <tbody>

  <% @project.project_phases.each do |phase| %>
      <tr>
        <td><%= phase.lifecycle_phase.sequence_number %></td>
        <td><%= phase.lifecycle_phase.name %></td>
        <td><%= phase.lifecycle_phase.description %></td>
        <td><%= sprintf('%.2f', phase.estimated_effort) %> hours </td>
        <td class="project_phase_id_cell hidden"><%= phase.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<div id="dialog" title="Phase">
<div id="project_phase_details_container">
  <%= render "phase_details" %>
</div>
</div>

<br />
<%= link_to 'Back to Projects', projects_path, :class => "btn" %>
