<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<div>
  <%= link_to 'New Deliverable', new_deliverable_path, :class => "stylized" %>
</div>
<br />
<br />
<%= link_to 'Cancel', projects_path, :class => "stylized" %>
