<% content_for(:head) do %>
    <%= javascript_include_tag "custom.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<table border="0" id="project_phases">
  <thead>
  <tr>
    <th>Sequence #</th>
    <th>Name</th>
    <th>Description</th>
    <th>Estimated Effort</th>
  </tr>
  </thead>
  <tbody>
  <% @project.lifecycle_phases.ordered_list.each do |phase| %>
      <tr>
        <td><%= phase.sequence_number %></td>
        <td><%= phase.name %></td>
        <td><%= phase.description %></td>
        <td>9999999</td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<div>
  <%= link_to 'New Deliverable', new_deliverable_path(:project_phase_id => 19), :class => "stylized" %>
</div>
<br/>
<br/>
<%= link_to 'Cancel', projects_path, :class => "stylized" %>
