<h1><%= @lifecycle.name %></h1>

<% content_for(:head) do %>
    <%= javascript_include_tag "lifecycle" %>
<% end %>

<p class="description">
  <%= @lifecycle.description %>
</p>

<p>
  <h3>Lifecycle Phases</h3>
 <div id="lifecycle_helper_text">(Drag and drop to reorder lifecycle phases)</div>
</p>
<br/>

<% if @lifecycle.projects.count == 0 && @current_user.role?(:admin)%>

    <div id="sequence_numbers">
       <ul class="phase_sortable">
         <% @lifecycle.lifecycle_phases.each_with_index do |phase, index| %>
            <li id = "phases_<%=phase.id%>" class="ui-state-default">
                <%=(index+1)%>.
            </li>
        <% end %>
      </ul>
    </div>

    <div id="lifecycle_phase_list">
      <ul id="sortable" class="phase_sortable">
        <% @lifecycle.lifecycle_phases.each_with_index do |phase, index| %>
            <li id = "phases_<%=phase.id%>" class="ui-state-default">
              <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
              <div title="<%= phase.description %>">
                <%= phase.name %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
<% else %>

    <table border="0" id="lifecycle_phases">
      <thead>
      <tr>
        <th>Sequence<br/>Number</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>

      <% @lifecycle.lifecycle_phases.each do |phase| %>
          <tr>
            <td><%= phase.sequence_number %></td>
            <td><%= phase.name %></td>
            <td><%= phase.description %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% end %>

<div style="display:none" id="lifecycle_id">
  <%= @lifecycle.id %>
</div>
<br />

<div id="lifecycle_buttons">
<% if @lifecycle.projects.count == 0 && @current_user.role?(:admin) %>
    <%= link_to "Create Lifecycle Phase", new_lifecycle_phase_path(:lifecycle_id => @lifecycle.id), :class => "btn primary" %>
<% end %>

<%= link_to 'Return to Lifecycles', lifecycles_path, :class => "btn" %>
</div>