<h1><%= @lifecycle.name %></h1>

<p class="description">
  <%= @lifecycle.description %>
</p>

<h3>Lifecycle Phases</h3>

<table border="0" id="lifecycle_phases">
  <thead>
  <tr>
    <th>Sequence<br />Number</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>

  <% @lifecycle.lifecycle_phases.each do |phase| %>
      <tr>
        <td><%= phase.sequence_number %></td>
        <td><%= phase.name %></td>
        <td><%= phase.description %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<% if @lifecycle.projects.count == 0 && @current_user.role?(:admin) %>
    <%= link_to "Create Lifecycle Phase", new_lifecycle_phase_path(:lifecycle_id => @lifecycle.id), :class => "btn primary" %>
<% end %>

<%= link_to 'Return to Lifecycles', lifecycles_path, :class => "btn" %>
