<%= form_for(@effort_log) do |f| %>
  <% if @effort_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@effort_log.errors.count, "error") %> prohibited this effort_log from being saved:</h2>

      <ul>
      <% @effort_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :start_date_time %>
    <div class="input">
      <%= f.datetime_select :start_date_time %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :stop_date_time %>
    <div class="input">
      <%= f.datetime_select :stop_date_time %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :interrupt_time %>
    <div class="input">
      <%= f.text_field :interrupt_time %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :comment %>
    <div class="input">
      <%= f.text_area :comment %>
    </div>
  </div>
  
  <%= f.hidden_field :deliverable_id, :value => @deliverable_id %>
  
  <div class="input">
    <%= f.submit "Log", :class => "btn primary" %>
    <%= link_to 'Cancel', request.referer, :class => "btn danger" %>
  </div>

<% end %>
