<p id="notice"><%= notice %></p>

<p>
  <b>Start date time:</b>
  <%= @effort_log.start_date_time %>
</p>

<p>
  <b>Stop date time:</b>
  <%= @effort_log.stop_date_time %>
</p>

<p>
  <b>Interrupt time:</b>
  <%= @effort_log.interrupt_time %>
</p>

<p>
  <b>Comment:</b>
  <%= @effort_log.comment %>
</p>

<p>
  <b>User:</b>
  <%= @effort_log.user_id %>
</p>

<p>
  <b>Deliverable:</b>
  <%= @effort_log.deliverable_id %>
</p>


<%= link_to 'Back', effort_logs_path %>
