<p>
  <b>Deliverable:</b>
  <%= @effort_log.deliverable.name %>
</p>

<p>
  <b>User:</b>
  <%= @effort_log.user_id %>
</p>

<p>
  <b>Start date time:</b>
  <%= @effort_log.start_date_time %>
</p>

<p>
  <b>Stop date time:</b>
  <%= @effort_log.stop_date_time %>
</p>

<p>
  <b>Interrupt time:</b>
  <%= @effort_log.interrupt_time %>
</p>

<p>
  <b>Comment:</b>
  <%= @effort_log.comment %>
</p>

<%= link_to 'Return to Deliverable', @effort_log.deliverable, :class => 'btn' %>
